@model IEnumerable<MyFood.Models.FoodReceiptForm3>
@{
    ViewBag.Title = "empProcessingOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>طلبات قيد التنفيذ</h2>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("رقم الطلب")
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.order_id)
            </td>
            <td>
                @Html.ActionLink("عرض الطلب", "Form3Sec2", new { id = item.f3_id })
            </td>
        </tr>
    }

</table>