@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="container">
    <div class="header-container">

        <img src="~/Content/img/logo.png" width="320" height="330" class="Index-img">

        @*<h2 class="right-text-h font-Katibeh ">
                جمعية طعامي ببريدة
            </h2>*@

        <div class="container-text right-text font-Mirza-Medium">
            جمعية تختص بحفظ الطعام وتوزيع الوجبات على المستفيدين
            والتوعية المجتمعية تحت اشراف وزارة الموارد البشرية و التنمية الإجتماعية.
        </div>


    </div>
    
    
</div>

<div class="container">
    <div class="container-text2 font-Mirza-Medium">
        <p>جمعية طعامي توفر خدمة جمع الطعام من المتبرعين، بإمكانك الآن حجز طلب لجمع الطعام قبل وقت المناسبة لضمان خدمة أفضل</p>
    </div>
    <div style="margin-right: 400px;">
        <div class="property-card">
            <a href="~/Order/OrderForm1">
                <div class="property-image">
                    <div class="property-image-title">
                        <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                    </div>
                </div>
            </a>
            <div class="property-description">
                <p class="font-Mirza-Medium" style="font-size:x-large; color:#f7f7f7;">طلب خدمة جمع الطعام</p>
            </div>

        </div>
    </div>
</div>


@*<div class="container">
    <div class="row-cols-6">
        <div class="col-3">
            <img src="~/Content/img/logo.png" width="300" height="300" />
        </div>
        <div class="col-3">
            <h1>
                جمعية طعامي ببريدة
            </h1>
            <br />
            <br />
            <p class="lead">
                جمعية تختص بحفظ الطعام وتوزيع الوجبات على المستفيدين و التوعية المجتمعية تحت اشراف وزارة الموارد البشرية و التنمية الإجتماعية.
            </p>
        </div>
    </div>
</div>

<img src="~/Content/img/logo.png" width="300" height="300" />
<div style='vertical-align:middle; display:inline;' class="jumbotron">
    <h1>
        جمعية طعامي ببريدة
    </h1>
    <br />
    <br />
    <p class="lead">
        جمعية تختص بحفظ الطعام وتوزيع الوجبات على المستفيدين و التوعية المجتمعية تحت اشراف وزارة الموارد البشرية و التنمية الإجتماعية.
    </p>

</div>*@   

 
