
@{
    ViewBag.Title = "ChooseInvdOrOrg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>نوع الجهه</h2>

<br />
<p>
    @Html.ActionLink("جهات حكومية أو خاصة ", "OrgRegister")
</p>

<p>
    @Html.ActionLink("أفراد", "IndvRegister")
</p>
