@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        الرجاء الاطلاع على البريد الإلكتروني لإعادة تعيين كلمة المرور.
    </p>
</div>

