@{
    ViewBag.Title = "Forgot Password";
}


<br />
<br />

@using (Html.BeginForm())
{
    <div class="form-horizontal green-label form-bg-login">

        <h3 class="green-h">نسيت كلمة المرور</h3>
        <br />

        <div class="gold-label">
            @ViewBag.Message
        </div>
        <br />
        <div class="form-group">
            <label class="control-label form-m-right col-md-3">البريد الإلكتروني</label>
            @Html.TextBox("EmailID", "", new { @class = "form-control" })
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10 btn-loign">
                <input type="submit" value="إعادة تعيين كلمة المرور" class="btn-gold" />
            </div>
        </div>

        <br />
    </div>
}