
@{
    ViewBag.Title = "RegisterOptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>اختر طريقة التسجيل</h2>

<p>
    @Html.ActionLink("متبرع بالطعام", "ChooseIndvOrOrg")
</p>



<p>
    @Html.ActionLink("مستفيد من الطعام", "")
</p>

