
@{
    ViewBag.Title = "RegisterOptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 class="green-h margin-top">اختر طريقة التسجيل</h3>

<div class="container" style="display: flex; flex-direction: row; justify-content: space-between;">

    <a href="#" onclick="company_visibility('company'); inv_visibility('inv');">
        <div class="card-container-signup">

            <div class="property-card-signup">
                <div>
                    <img src="~/Content/img/food (1) (1).png" class="property-image-signup" />
                </div>
                <div class="property-description-signup">
                    متبرع بالطعام
                </div>
            </div>
        </div>
    </a>
    <a href="~/Account/BenRegister">
        <div class="card-container-signup">
            <div class="property-card-signup">
                <img src="~/Content/img/box (1).png" class="property-image-signup" />
                <div class="property-description-signup">
                  مستفيد من الطعام
                </div>
            </div>
        </div>
     </a>
</div>

<div class="container">
    <div class="card2" style="display: flex; flex-direction: row;">
        <a href="~/Account/OrgRegister">
            <div class="card-container-signup" id="company" style="display: none; margin-left:30px; margin-right:140px;">
                <div class="property-card-signup">

                    <div class="property-description-signup">
                        جهات حكومية أو خاصة
                    </div>
                </div>
            </div>
        </a>

        <a href="~/Account/IndvRegister">
            <div class="card-container-signup" id="inv" style="display: none;">
                <div class="property-card-signup">

                    <div class="property-description-signup">
                        <div>
                              أفراد
                        </div>
                    </div>
                </div>
            </div>
          </a>
    </div>
</div>


@*<p>
        @Html.ActionLink("متبرع بالطعام", "ChooseIndvOrOrg")
    </p>



    <p>
        @Html.ActionLink("مستفيد من الطعام", "BenRegister")
    </p>*@

<script type="text/javascript">
<!--
    function company_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'none')
            e.style.display = 'block';
        else
            e.style.display = 'none';
    }

    function inv_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'none')
            e.style.display = 'block';
        else
            e.style.display = 'none';
    }

//-->
</script>

