@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>تأكيد إعادة تعيين كلمة المرور</h1>
</hgroup>
<div>
    <p>
        تم تغيير كلمة المرور بنجاح.  @Html.ActionLink("اضغط هنا لتسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
