@{
    ViewBag.Title = "Reset password confirmation";
}

<br />
<br />

<div class="form-horizontal green-label form-bg-login">

    <hgroup class="title">
        <h3 class="green-h">تأكيد إعادة تعيين كلمة المرور</h3>
    </hgroup>
    <br />
    <div>
        <p class="form-m-right">
            تم تغيير كلمة المرور بنجاح  @Html.ActionLink("اضغط هنا لتسجيل الدخول", "Login", "Account",
                                        routeValues: null, htmlAttributes: new { id = "loginLink", @class = "gold-link" } )
        </p>
    </div>

</div>

